<div class="row-fluid exercise" id="st_ex">
  <!-- <div class="row-fluid exercise" id="st_ex${ex_num}"> -->
  <div class="control-group span3">
    <label class="control-label" for="st_exercise">Exercise</label>
    <!-- <label class="control-label" for="st_exercise${ex_num}">Exercise</label> -->
    <div class="controls docs-input-sizes">
      <select class="span2" name="st_exercise" id="st_exercise">
        <!-- <select class="span2" name="st_exercise${ex_num}" id="st_exercise${ex_num}"> -->
        <option value="pushups">Push Ups</option>
        <option value="squats">Squats</option>
        <option value="planks">Planks</option>
      </select>
    </div>
  </div>
  <!-- <div class="control-group span3">
    <label class="control-label" for="st_sets${ex_num}">Sets</label>
    <div class="controls docs-input-sizes">
      <select class="span1" name="st_sets${ex_num}" id="st_sets${ex_num}">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
  </div>
  <div class="control-group span3">
    <label class="control-label" for="st_reps${ex_num}">Reps</label>
    <div class="controls docs-input-sizes">
      <input type="text" class="span1" name="st_reps${ex_num}" id="st_reps${ex_num}">
    </div>
  </div> -->
</div>



<!--

    fieldset
      legend Cardio Exercises
      div class="span3 exercise"
        div class="control-group"
          label class="control-label" for="ca_exercise" Exercise
          div class="controls docs-input-sizes"
            select class="span2" name="ca_exercise" id="ca_exercise"
              option value="elliptical" Elliptical
              option value="cycle" Cycle
              option value="treadmill" Treadmill
        div class="control-group"
          label class="control-label" for="ca_duration" Duration in minutes
          div class="controls docs-input-sizes"
            input type="text" class="span1" name="ca_duration" id="ca_duration"
        div class="control-group"
          label class="control-label" for="ca_distance" Distance in miles
          div class="controls docs-input-sizes"
            input type="text" class="span1" name="ca_distance" id="ca_distance"
        div class="control-group"
          label class="control-label" for="ca_cals" Calories
          div class="controls docs-input-sizes"
            input type="text" class="span1" name="ca_cals" id="ca_cals"
            -->

