<div class="row-fluid exercise">
  <div class="control-group span3">
    <label class="control-label" for="st_exercise${ex_num}">Exercise</label>
    <div class="controls docs-input-sizes">
      <select class="span2" name="st_exercise${ex_num}" id="st_exercise${ex_num}">
        <option value="pushups">Push Ups</option>
        <option value="squats">Squats</option>
        <option value="planks">Planks</option>
      </select>
    </div>
  </div>
  <div class="control-group span3">
    <label class="control-label" for="st_sets${ex_num}">Sets</label>
    <div class="controls docs-input-sizes">
      <select class="span1" name="st_sets${ex_num}" id="st_sets${ex_num}">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
  </div>
  <div class="control-group span3">
    <label class="control-label" for="st_reps${ex_num}">Reps</label>
    <div class="controls docs-input-sizes">
      <input type="text" class="span1 valTxtIn" name="st_reps${ex_num}" id="st_reps${ex_num}">
      <span class="label hidden"></span>
    </div>
  </div>
</div>

