          <form class="form-horizontal" action="" method="post">
            <fieldset>
              <legend>Strength Exercises</legend>
              <div class="control-group">
                <label class="control-label" for="st_exercise">Exercise</label>
                <div class="controls">
                  <select name="st_exercise" id="st_exercise">
                    <option value="pushups">Push Ups</option>
                    <option value="squats">Squats</option>
                    <option value="planks">Planks</option>
                  </select>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="st_sets">Sets</label>
                <div class="controls">
                  <select name="st_sets" id="st_sets">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="st_reps">Reps</label>
                <div class="controls">
                  <input type="text" class="" name="st_reps" id="st_reps" />
                </div>
              </div>
            </fieldset>
            <fieldset>
              <legend>Cardio Exercises</legend>
              <div class="control-group">
                <label class="control-label" for="ca_exercise">Exercise</label>
                <div class="controls">
                  <select name="ca_exercise" id="ca_exercise">
                    <option value="elliptical">Elliptical</option>
                    <option value="cycle">Cycle</option>
                    <option value="treadmill">Treadmill</option>
                  </select>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="ca_duration">Duration in minutes</label>
                <div class="controls">
                  <input type="text" class="" name="ca_duration" id="ca_duration" />
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="ca_distance">Distance in miles</label>
                <div class="controls">
                  <input type="text" class="" name="ca_distance" id="ca_distance" />
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="ca_cals">Calories</label>
                <div class="controls">
                  <input type="text" class="" name="ca_cals" id="ca_cals" />
                </div>
              </div>
              <div class="form-actions">
                <button type="submit" class="btn btn-primary">Log It</button>
                <button class="btn cancel">Cancel</button>
              </div>
            </fieldset>
          </form>

