section#add
  form action="/", method="post"
    textarea name=>"content" placeholder=>"Your note&hellip;"
    input type="submit" class="submit" value"Take Note!"

- @notes.each do |note|
  article class="complete"
    p
      = note.content
      span
        a href="/#{note.id}"} [edit]
    p.meta= note.created_at

