<form class="well" id="workout-form" action="/" method="post">
  <fieldset id="st_ex">
    <!-- <legend>Strength Exercises</legend> -->
    <legend class="">Strength Exercises</legend>
    <div id="stExInContainer" class="ex-cntr ex-cntr-in"></div>
    <button id="st_btn" class="btn btn-info" style="margin-bottom: 10px">Add Exercise</button>
    <input type="hidden" name="st_cnt" id="st_cnt">
  </fieldset>
  <div style="border-top: 1px solid #dedede; margin: 6px 0 6px 0"></div>
  <fieldset id="ca_ex" style="">
    <legend class="">Cardio Exercises</legend>
    <!-- <legend>Cardio Exercises</legend> -->
    <div id="caExInContainer" class="ex-cntr ex-cntr-in"></div>
    <button id="ca_btn" class="btn btn-info" style="margin-bottom: 10px">Add Exercise</button>
    <input type="hidden" name="ca_cnt" id="ca_cnt">
  </fieldset>
  <div style="border-top: 1px solid #dedede; margin: 6px 0 6px 0"></div>
  <div class="">
    <button type="submit" class="btn btn-primary">Log It</button>
    <button id="cancelBtn" class="btn">Cancel</button>
  </div>
</form>
