<form class="well" id="workout-form" action="/" method="post">
  <fieldset id="st_ex">
    <!-- <legend>Strength Exercises</legend> -->
    <legend class="">Strength Exercises</legend>
    <div id="stExInContainer" class="ex-cntr"></div>
    <button id="st_btn" class="btn btn-success" style="margin-bottom: 10px">Add Exercise</button>
    <input type="hidden" name="st_cnt" id="st_cnt">
  </fieldset>
  <div style="border-top: 1px dashed #ccc; height: 6px"></div>
  <fieldset id="ca_ex" style="">
    <legend class="">Cardio Exercises</legend>
    <!-- <legend>Cardio Exercises</legend> -->
    <div id="caExInContainer" class="ex-cntr"></div>
    <button id="ca_btn" class="btn btn-success" style="margin-bottom: 10px">Add Exercise</button>
    <input type="hidden" name="ca_cnt" id="ca_cnt">
  </fieldset>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Log It</button>
    <button class="btn">Cancel</button>
  </div>
</form>
