<!--<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: 'Logging'"> -->
  <form id="workout-form" action="/" method="post">
    <fieldset id="st_ex">
      <legend>Strength Exercises</legend>
    </fieldset>
    <fieldset id="ca_ex">
      <legend>Cardio Exercises</legend>
    </fieldset>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Log It</button>
      <button class="btn">Cancel</button>
    </div>
  </form>
  <!-- </div> ->

