<form id="workout-form" action="/" method="post">
  <fieldset id="st_ex">
    <legend>Strength Exercises</legend>
    <div id="stExInContainer" style="height: 207px; overflow: auto"></div>
    <button id="st_btn" class="btn btn-success">Add Exercise</button>
    <input type="hidden" name="st_cnt" id="st_cnt">
  </fieldset>
  <fieldset id="ca_ex">
    <legend>Cardio Exercises</legend>
    <div id="caExInContainer" style="height: 207px; overflow: auto"></div>
    <button id="ca_btn" class="btn btn-success">Add Exercise</button>
    <input type="hidden" name="ca_cnt" id="ca_cnt">
  </fieldset>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Log It</button>
    <button class="btn">Cancel</button>
  </div>
</form>
